In [1]:
score_dict = {'Kim' : 80, 'Lee' : 85, 'Ahn' : 83, 'Choi' : 90}
first_key = list(score_dict.keys())[0]
score_dict[first_key] = 90
print(score_dict.values())

dict_values([90, 85, 83, 90])

In [2]:
from collections import deque
deque_list = deque(['a', 'b', 'c'])
deque_list = deque(['a', 'b', 'c'])
print(deque_list)

deque(['a', 'b', 'c'])

In [6]:
from collections import Counter
text = 'Hello, this is python world!'
c = Counter(text)
print(c['l'])
print(c)

3
Counter({' ': 4, 'l': 3, 'o': 3, 't': 2, 'h': 2, 'i': 2, 's': 2, 'H': 1, 'e': 1, ',': 1, 'p': 1, 'y': 1, 'n': 1, 'w': 1, 'r': 1, 'd': 1, '!': 1})

In [7]:
dictionary = {"a": 1, "b": 2, "c": 3}
dictionary.setdefault( 'b', 4 ) 
dictionary.setdefault( 'd', 5 ) 
dictionary["c"]  = dictionary["d"]
dictionary["b"] = dictionary["c"]
dictionary["d"]  = dictionary["b"]
print(dictionary)

{'a': 1, 'b': 5, 'c': 5, 'd': 5}

In [8]:
box = [1,'red',3,(),[ ],None]
print(len(box))

6

In [14]:
fruits = ['apple','banana','cherry','strawberry']
fruits[0] = 'orange'
print(fruits)

['orange', 'banana', 'cherry', 'strawberry']

In [44]:
def get_abbr(data_list):
     result = []
     for x in data_list:
         result.append(x[:3])
     return result

In [45]:
ab=get_abbr(['Seoul', 'Anyang', 'Incheon', 'Jeju'])

In [46]:
ab

['Seo', 'Any', 'Inc', 'Jej']

In [69]:
a = int()
midterm_set = set([1, 5, 7, 4, 3, 2, 1, 1, 2, 3])
for i in midterm_set:
    a = a+i
print(a)

22

In [70]:
mylist = ['pen' ,'pencil', 'sharp']
result = list(enumerate(mylist)) 
print(result)

[(0, 'pen'), (1, 'pencil'), (2, 'sharp')]

In [71]:
colors = ['orange', 'pink', 'brown', 'black', 'white', 'yellow']
result = '&'.join(colors)
print(result)

orange&pink&brown&black&white&yellow

In [72]:
kor_score = [70, 79, 80, 90, 80] 
math_score = [42, 80, 30, 50, 90] 
eng_score = [53, 77, 50, 70, 55]
midterm_score = [kor_score, math_score, eng_score]
print ("score:",midterm_score[2][1])

score: 77

In [73]:
user_dict = {}
user_list = ["students","superuser", "professor", "employee"]
user_dict = {value_2 : value_1 for value_1, value_2 in enumerate(user_list)}
print(user_dict)

{'students': 0, 'superuser': 1, 'professor': 2, 'employee': 3}

In [74]:
alphabet = ["a", "b", "c", "d", "e", "f", "g", "h"]
nums = [i for i in range(20)]
answer = [alpha+str(num) for alpha in alphabet for num in nums if num%2 == 0]
print(len(answer))

80

In [75]:
name = "Hanbit University"

In [76]:
split_name=name.split()

In [78]:
split_name[1]

'University'

In [86]:
student = ["Hong", "Gil", "Dong"]

SyntaxError: invalid syntax (1977299397.py, line 1)

In [89]:
result = [i for i in range(10) if i%2 == 0]

In [90]:
print(result)

[0, 2, 4, 6, 8]

In [91]:
items = 'zero one two three'.split("two")

In [92]:
result =[i for i in range(10)]

In [93]:
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
items ='zero one two three'.split()

In [95]:
print(items)

['zero', 'one', 'two', 'three']

In [96]:
example = 'cs50.gachon.edu'

In [97]:
subdomain, domain, tld = example.split('.')

In [98]:
print(subdomain)

cs50

In [99]:
dog_song = "my dog has brown eyes, my dog is cute"

In [100]:
week = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
rainbow = ['red', 'orange', 'yellow', 'green', 'blue', 'navy', 'purple']
list_data = [week, rainbow]

In [101]:
print(list_data[0][4])

fri

In [102]:
a = [1, 2, 3]
b= [4, 5, ]
c= [7, 8, 9]
print([[sum(k), len(k)] for k in zip(a, b, c)])

[[12, 3], [15, 3]]

In [113]:
class Bit(object):
    def __init__(self):
        self.__password = 5678
    def set_password(self, new_pw):
        self.__password = new_pw
        print('Password changed')        
    def get_password(self):
        print('Your password is :', self.__password)

In [114]:
Bit()

In [115]:
coin=Bit()

In [116]:
coin.get_password()

Your password is : 5678

In [118]:
coin.set_password(1234)

Password changed

In [119]:
print(coin.__password)

AttributeError: 'Bit' object has no attribute '__password'

In [128]:
class Company:
    def __init__(self):
        self.work = True
        self.name = 'Jane'
        self.gender = 'woman'
        
    def retire(self):
        self.work = False

class Employee(Company):
    def __init__(self, name, gender):
        super().__init__()
        self.name = name
        self.gender = gender
        
    def introduce(self):
        if self.work == True:
            print('I got a job at a company')
            print('My name is', self.name)
            print('I am a', self.gender)
        if self.work == False:
            print('I left the company')

In [129]:
em=Employee('james','man')

In [134]:
em.retire()

In [135]:
em.introduce()

I left the company

In [136]:
Employee('james', 'man').introduce()

I got a job at a company
My name is james
I am a man

In [138]:
class Person(object):
    def __init__(self, name): 
        self.name = name
def language(self): 
    pass
class Earthling(Person):
    def language(self, language): 
        return language
class Groot(Person):
    def language(self, language): 
        return "I'm Groot!"
name = ['Hanbit', 'Dr.Strange', 'Groot']
country = ['Korea', 'USA', 'Galaxy']
language = ['Korean', 'English', 'Groot']
for idx, name in enumerate(name):
    if country[idx].upper() != 'GALAXY': 
        person = Earthling(name) 
        print(person.language(language[idx]))
    else:
        groot = Groot(name) 
        print(groot.language(language[idx])

SyntaxError: incomplete input (963642973.py, line 21)

In [139]:
class SoccerPlayer(object):
    def __init__(self, name, position, back_number): 
        self.name = name
        self.position = position 
        self.back_number = back_number
    def change_back_number(self, back_number):
        self.back_number = back_number
jinhyun = SoccerPlayer("jinhyun", "MF", 10) 
print("현재 선수의 등번호는:", jinhyun.back_number) 
jinhyun.change_back_number(5)

현재 선수의 등번호는: 10

In [140]:
class Class(object):
    def __init__(self, name, score): 
        self.name = name 
        self.score = score
class Math(Class): 
    def say():
        print("힘내")

In [145]:
obj=Math("yena",100)

In [144]:
obj.

TypeError: Class.__init__() missing 1 required positional argument: 'score'

In [146]:
class Marvel(object):
    def __init__(self, name, characteristic): 
        self.name = name
        self.characteristic = characteristic 
    def __str__(self):
         return "My name is {0} and my weapon is {1}.".format(
             self.name, self. characteristic)
class Villain(Marvel):
    pass
first_villain = Villain("Thanos", "infinity gauntlet") 
print(first_villain)

My name is Thanos and my weapon is infinity gauntlet.

In [147]:
class TV(object):
    def __init__(self, size, year, company): 
        self.size = size
        self.year = year 
        self.company = company
    def describe(self):
        print(self.company + "에서 만든 " + self.year + "년형 " \
              + self.size + "인치 " + "TV")
class Laptop(TV):
    def describe(self):
        print(self.company + "에서 만든 " + self.year + "년형 " \
               + self.size + "인치 " + "노트북")
LG_TV = TV("32", "2022", "LG")
LG_TV.describe()
samsung_microwave = Laptop("15" , "2023", "Samsung")
samsung_microwave.describe()

LG에서 만든 2022년형 32인치 TV
Samsung에서 만든 2023년형 15인치 노트북

In [148]:
class Person:
    def __init__(self, name, age, position):
        self.Name = name
        self.Age = age 
        self.Position = position
    def show_info(self):
        print('이름 : {0}'.format(self.Name))
        print('나이 : {0}'.format(self.Age))
        print('직위 : {0}'.format(self.Position))
        print("저는 한빛대학교 {0} {1}입니다. 나이는 {2}입니 다.".format(
               self.Position, self.Name, self.Age))
class Researcher(Person):
    def __init__(self, name, age, position, degree): 
        Person.__init__(self, name, age, position) 
        self.Degree = degree    
    def show_info(self): 
        Person.show_info(self)
        print("저는 {0} 입니다.".format(self.Degree))
if __name__ == '__main__':
    researcher_john = Researcher("John","22", "연구원", "학사")
    researcher_tedd = Researcher("Tedd", "40", "소장", "박사") 
    researcher_john.show_info()
    print("="*50) 
    researcher_tedd.show_info()

이름 : John
나이 : 22
직위 : 연구원
저는 한빛대학교 연구원 John입니다. 나이는 22입니 다.
저는 학사 입니다.
==================================================
이름 : Tedd
나이 : 40
직위 : 소장
저는 한빛대학교 소장 Tedd입니다. 나이는 40입니 다.
저는 박사 입니다.

In [149]:
class Terran(object):
    def __init__(self, mineral): 
        self.scv = 4
        self.marine = 0
        self.medic = 0 
        self.mineral = mineral
    def command(self, SCV=False): 
        self.mineral += 8*self.scv 
        if SCV:
            self.scv += 1
            self.mineral -= 10
    def barrack(self, Marine=False, Medic=False): 
        self.mineral += 8*self.scv
        if Marine:
            self.marine += 1
            self.mineral -= 15 
        if Medic:
            self.medic += 1
            self.mineral -= 25 
    def check_source(self):
        print("Mineral: "+str(self.mineral))
User = Terran(50) 
User.command(True) 
User.barrack(True,True) 
User.check_source()

Mineral: 72

In [150]:
class IceCream(object):
    def __init__(self, flavor):
        self.flavor = flavor
    def change_flavor(self, new_flavor):
        print('아이스크림을 %s에서 %s로 변경해주세요.' %(self.flavor, 
new_flavor))
        self.flavor = new_flavor
        print('아이스크림 맛을 %s로 변경해드렸어요.' %self.flavor)
ice_cream = IceCream('레인보우 샤베트')
ice_cream.change_flavor('바람과 함께 사라지다')

아이스크림을 레인보우 샤베트에서 바람과 함께 사라지다로 변경해주세요.
아이스크림 맛을 바람과 함께 사라지다로 변경해드렸어요.

In [157]:
print("module loaded")

module loaded

In [156]:
if __name__ == '__main__':
    print('module run')
else:
    print('module imported')

module run

In [168]:
def sum_func(a, b):
    return a + b
def multiply_func(a,b):
    return a * b
def minus_func(a,b):
    return a -b
def devide_func(a,b):
    return a / b


user_input = input("사칙연산 프로그램: ").split(" ")
first_val , second_val = int(user_input [0]), int(user_input [2])
fourcal = user_input[1]
if fourcal == "+":
    result = sum_func(first_val , second_val)
elif fourcal == "-":
    result = minus_func(first_val , second_val)
elif fourcal == "/":
    result =devide_func(first_val , second_val)
else:
    result =multiply_func(first_val , second_val)
print("실행 결과는", result)

사칙연산 프로그램:  5 * 4

실행 결과는 20